<div *ngIf="items.length > 0">
<div class="row championship">
  <div class="champs table-responsive">
    <h3><span class="lightHeader">Entrants </span></h3>
    <div class="sm-down-cover">
    <div class="sm-down-cover">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody  class="champs-table">
        <!--<tr  *ngFor="let data of items" [@animate]="'fadeInDown'">-->
        <tr  *ngFor="let data of items">
          <th scope="row">{{ data.position }}</th>
          <td class="nopadding">
            <img src="{{ carsUrls + data.car_img + carXSmallSize }}" />
          </td>
          <td class="nopadding">
            <span class="team hidden-sm-down"><img src="{{ manufacturersUrl + data.badge }}" /></span>
          </td>
          <td class="nopadding">
            <span class="flag"><img src="{{ flagsUrl + data.flag +'.png' }}" /></span>
          </td>
          <td class="nopadding">
            <span class="drivername">{{  data.name }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>
</div>
<div class="row inter"*ngIf="items.length <= 0">
  <div class="intermediate table-responsive" [ngClass]="'empty'" >Awaiting Content</div>
</div>
