<div class="row inter hidden-md-up" *ngIf="items.length > 0">
    <div class="intermediate">
    <h3><span class="lightHeader">Intermediate Points</span></h3>

    <table class="table">
      <thead>
        <tr>
          <th class="" >POS</th>
          <th class="" ></th>
          <th class="">Q1</th>
          <th class="">Q2</th>
          <th class="">Q3</th>
          <th class="">Q4</th>
          <th class="">QP</th>
          <th class="">IP</th>

        </tr>
      </thead>
      <tbody  class="intermediate-table">
        <tr *ngFor="let data of items; let i = index">
          <th class="" scope="row">
            {{ i + 1 }}
          </th>
          <td class="col-6 negative-left">
            <span class="team"><img src="{{ manufacturersUrl + data.badge }}" /></span>
            <span class="flag"><img src="{{ flagsUrl + data.country +'.png' }}" /></span>
            <span class="drivername">{{  data.driver_name | explode:" ":0 | limitTo:1  }}{{  data.driver_name | explode:" ":1 }}</span>
          </td>
          <td class="col-1">{{ data.q1 }}</td>
          <td class="col-1">{{ data.q2 }}</td>
          <td class="col-1">{{ data.q3 }}</td>
          <td class="col-1">{{ data.q4 }}</td>
          <td class="col-1">{{ data.points }}</td>
          <td class="col-1">{{ data.inter_points }}</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>


<div class="row inter hidden-sm-down"*ngIf="items.length > 0">
    <div class="intermediate table-responsive">
    <h3><span class="lightHeader">Intermediate Points</span></h3>
    <div class="sm-down-cover">

    <table class="table">
      <thead>
        <tr>
          <th class="" >POS</th>
          <th class=""></th>
          <th class="text-center">Q1</th>
          <th class="text-center">Q2</th>
          <th class="text-center">Q3</th>
          <th class="text-center">Q4</th>
          <th class="text-center">QP</th>
          <th class="text-center">IP</th>

        </tr>
      </thead>
      <tbody  class="intermediate-table">
        <!--<tr *ngFor="let data of items; let i = index" [@animate]="'fadeInDown'">-->
        <tr *ngFor="let data of items; let i = index">
          <th class="" scope="row">{{ i + 1 }}</th>
          <td class="col-6">
            <span class="small-car hidden-md-down hidden-sm-down hidden-xs-down">
                <img src="{{ carsUrls + data.car_img + carSmallSize }}" class="img-fluid" />
            </span>
            <span class="team"><img src="{{ manufacturersUrl + data.badge }}" /></span>
            <span class="flag"><img src="{{ flagsUrl + data.country +'.png' }}" /></span>
            <span>{{  data.driver_name }}</span>
          </td>
          <td class="col-1 text-center">{{ data.q1 }}</td>
          <td class="col-1 text-center">{{ data.q2 }}</td>
          <td class="col-1 text-center">{{ data.q3 }}</td>
          <td class="col-1 text-center">{{ data.q4 }}</td>
          <td class="col-1 text-center">{{ data.points }}</td>
          <td class="col-1 text-center">{{ data.inter_points }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
</div>

<div class="row inter"*ngIf="items.length <= 0">
  <div class="intermediate table-responsive" [ngClass]="'empty'" >Awaiting Content</div>
</div>
