<router-outlet></router-outlet>
<app-heat-baba></app-heat-baba>
<app-tweets></app-tweets>
<app-positions-baba></app-positions-baba>
<app-news-list></app-news-list>
<app-championships-baba></app-championships-baba>
<app-intermediate-baba></app-intermediate-baba>
