<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" routerLink="/"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
    </li>
    <li class="nav-item px-3">
    </li>
  </ul>
  <ul class="nav navbar-nav grey ml-auto">
    <li class="nav-item hidden-md-down">
      <a class="nav-lin" routerLink="/">LIVE EVENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-lin hidden-md-up" routerLink="/rx2">RX</a>
      <a class="nav-link hidden-md-down" routerLink="/rx2">RX HOME</a>
    </li>

  </ul>

  <!--<select [(ngModel)]="selectedDropdown.catid" (input)="onInput($event)">-->
  <!--<option *ngFor="let dropdown of dropdowns" value= {{dropdown.catid}}>{{dropdown.title}}</option>-->
  <!--</select>-->

  <ul class="nav navbar-nav ml-auto special">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">

      <!--<a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">-->
      <!--<span class="d-md-down-none show hidden-md-up">SC</span>-->
      <!--<span class="d-md-down-none hidden-md-down">Supercar</span>-->
      <!--</a>-->

      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span [(ngModel)]="selectedDropdown.title" ngDefaultControl class="hidden-md-up">{{selectedDropdown.shortname}}</span>
        <span [(ngModel)]="selectedDropdown.title" ngDefaultControl class="hidden-sm-down">{{selectedDropdown.title}}</span>
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <a *ngFor="let dropdown of dropdowns" class="dropdown-item" routerLink="/{{dropdown.url}}" (click)="selectedDropdown = dropdown; open = false;">{{ dropdown.title }}</a>
        <!-- <div class="dropdown-header text-center"><strong>Account</strong></div> -->

        <!--<a  *ngFor="let dropdown of dropdowns" class="dropdown-item" [routerLink]="dropdown.myroutes">{{ dropdown.name }}</a>-->
        <!--<a class="dropdown-item" href="#"  [routerLink]="['/super1600']">Super1600</a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/touringcar']">Touringcar</a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/rx2']">RX2</a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/supercar_erx']">Supercar ERX</a>-->
        <!--         <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Races</a>
                <a class="dropdown-item" href="#"><i class="fa fa-file"></i> VidiPrinter</a> -->
      </div>
    </li>
    <span class="hidden-lg-down sidebar-flag" *ngFor="let cve of currentEvent">
      <img src="http://www.fiaworldrallycross.com/_img/_flags/{{ cve.shortname }}.png">
    </span>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">

        <li class="nav-item" *ngFor="let cve of currentEvent" style="font-size: x-large; ">
          <span class="venue-title">RD: {{ cve.round }} {{ cve.country }} {{ cve.location }}</span>
        </li>
        <li class="divider"></li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/touringcar']" [routerLinkActiveOptions]="{ exact: true }">SCHEDULE OF EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/rx2']">ENTRANTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/super1600']">LIVE TIMINGS</a>
        </li>
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">HEATS</a>-->
        <!--</li>-->

        <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">RACES</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">VIDIPRINTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['seintermediate']">INTERMEDIATE POINTS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">CHAMPIONSHIP POINTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">RACE DOCUMENTS</a>
        </li>
        <li class="divider"></li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <!--<app-schedule></app-schedule>-->
      <router-outlet></router-outlet>
      <app-sunday-evening></app-sunday-evening>
      <!--<app-tweets></app-tweets>-->
      <!--<app-erx-championships></app-erx-championships>-->
    </div>
  </main>
</div>

<footer class="app-footer">
  <a href="http://www.fiaworldrallycross.com">RallycrosssHub</a> &copy; 2017 RallyCrossRX.
  <span class="float-right">Powered by <a href="http://fluidcm.co.uk" target="_blank">Fluid</a></span>
</footer>
