<div class="news container" *ngFor="let new of newsItem">

  <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="new.type == 'youtube'">
    <iframe width="embed-responsive-item" [src]="baseUrl+new.videourl | youtube" allowfullscreen></iframe>
    <!--<iframe width="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(baseUrl+new.videourl)"></iframe>-->
  </div>

  <div class="newsitem image " *ngIf="new.type == 'news'">
    <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ new.image }}&maxwidth=900" class="main-image" />
  </div>
  <h1 class="newstitle">{{ new.title}}</h1>
  <div class="newsitem content" [innerHtml]="new.content | safeHtml"></div>

  <a [routerLink]="['../']"><i class="fa fa-hand-o-left fa-2x" aria-hidden="true"> go back</i></a>
</div>
