<div class="row championship" *ngIf="items.length > 0">
<div class="container champs table-responsive">
  <h3><span class="lightHeader">Race Documents </span></h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <th scope="row">
        <a target="_blank" href="http://media.imgukaa3.dyndns.info/results/{{item.file}}">
          <img src="http://www.fiaworldrallycross.com/_img/pdf_icon.png" alt="download"  style="padding-right:20px">
        </a>
      </th>
      <td>
        <span>{{item.name}}</span>
      </td>
      <td>
        <a target="_blank" href="http://media.imgukaa3.dyndns.info/results/{{item.file}}">Download</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>


<div class="row inter"*ngIf="items.length <= 0">
  <div class="intermediate table-responsive" [ngClass]="'empty'" >Awaiting Content</div>
</div>
