<swiper [config]="config" class="row hidden-md-up">
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->

  <div class="swiper-wrapper tweets">
    <div class="swiper-slide" *ngFor="let tweet of tweets">
      <div class="panel news">

        <a *ngIf="tweet.img" class="cover"  href="{{ tweet.link }}" target="_blank">
          <div class="wrapper">
            <div class="wrapper-hold" [style.background-image]="getBackground(tweet.img)">
                <span class="icon">
                  <img src="http://www.fiaworldrallycross.com/_img/icon_twitter.png">
                </span>
              <span class="profile-image">
                <img src="{{ tweet.profile_image }}">
                </span>
            </div>
            <div class="texthold list">
              {{ tweet.message | slice:0:54 }}
            </div>
          </div>
        </a>


        <a *ngIf="!tweet.img" class="cover"  href="{{ tweet.link }}" target="_blank">
          <div class="wrapper">
            <div class="wrapper-hold">
              <span class="icon">
                  <img src="http://www.fiaworldrallycross.com/_img/icon_twitter.png">
              </span>
              <div [innerHTML]="tweet.message" style="padding: 20px"></div>
              <span class="profile-image">
                <img src="{{ tweet.profile_image }}">
                </span>
            </div>
            <div class="texthold list">
              {{ tweet.message | slice:0:54 }}
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</swiper>


<swiper [config]="config" class="row twitter hidden-sm-down">
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->

  <div class="swiper-wrapper tweets">
    <div class="swiper-slide" *ngFor="let tweet of tweets">
      <div class="panel news">


        <a *ngIf="tweet.img" class="cover"  href="{{ tweet.link }}" target="_blank">
          <div class="wrapper">
            <div class="wrapper-hold" [style.background-image]="getBackground(tweet.img)">
                <span class="icon">
                  <img src="http://www.fiaworldrallycross.com/_img/icon_twitter.png">
                </span>
                <span class="profile-image">
                <img src="{{ tweet.profile_image }}">
                </span>
            </div>
            <div class="texthold list">
              {{ tweet.message | slice:0:88 }}
            </div>
          </div>
        </a>


        <a *ngIf="!tweet.img" class="cover"  href="{{ tweet.link }}" target="_blank">
          <div class="wrapper">
            <div class="wrapper-hold">
              <span class="icon">
                  <img src="http://www.fiaworldrallycross.com/_img/icon_twitter.png">
              </span>
              <div [innerHTML]="tweet.message" style="padding: 20px"></div>
              <span class="profile-image">
                <img src="{{ tweet.profile_image }}">
                </span>
            </div>
            <div class="texthold list">
              {{ tweet.message | slice:0:88 }}
            </div>
          </div>
        </a>


      </div>
    </div>
  </div>
</swiper>


