.headerSelect {
  text-transform: uppercase;
  height: 55px;
  padding: 10px 20px;
  background: pink;
  font-size: large;
}

/*Swipers*/
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  /*text-align: center;*/
  /*font-size: 18px;*/
  /*background: #fff;*/
  /* Center slide text vertically */
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /*width: 100% !important;*/
  margin: 0 auto;
}


.swiper-desktop, .swiper-mobile, .row.positions, .row.inter, .row.championship, .row.champs {
  background-repeat: repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  color: #ffffff;
}
.swiper-desktop, .swiper-mobile {background: url('../images/bg/bg_1.jpg');}

.swiper-slide.heats {
  display: block;
  min-width: 100%;
  width: 100% !important;
}
.heatc.swiper-button-next {
  background-image: url('../images/right-arrow.png');
  right: 0 !important;
}

.heatc.swiper-button-prev {
  background-image: url('../images/left-arrow.png');
  left: 0 !important;
}

.heatc.swiper-button-next,
.heatc.swiper-button-prev {
  background: #e2008c;
  top: 22px;
  height: 50px;
  width: 50px;
  z-index: 99;
}

.heatc.swiper-button-next {
  top: 50%;
  padding: 20px
}

.heatc.swiper-button-prev {
  left: 0 !important;
  top: 50%;
  padding: 15px 20px;
}

.heatc.swiper-button-next {
  top: 3%;
  padding: 20px
}

.heatc.swiper-button-prev {
  top: 3%;
  padding: 20px 10px;
}

.heatc.swiper-button-prev, .entrants.swiper-button-prev {
  background-image: url('../images/left-arrow.png');
  left: 0 !important;
}
.heatc.swiper-button-next, .entrants.swiper-button-next {
  background-image: url('../images/right-arrow.png');
  right: 0 !important;
}
.heatc.swiper-button-prev, .heatc.swiper-button-next {
  top: 4%;
  width: 64px;
  height: 64px;
  -moz-background-size: 64px 64px;
  -webkit-background-size: 64px 64px;
  background-size: 64px 64px;
}

.entrants.swiper-button-prev, .entrants.swiper-button-next {
  top: 1%;
  width: 64px;
  height: 64px;
  -moz-background-size: 64px 64px;
  -webkit-background-size: 64px 64px;
  background-size: 64px 64px;
}





/*General*/

body {background-color: #f1f1f1 !important;}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.btn-primary {background-color:#ff0099 !important; border-color:#ff0099 !important;}

.larger-text {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}

.hidden-md-up .img-fluid {
  height: 58px;
}

.car_pic {
  padding: 0 !important;
}

.bottomDesign {
  background: transparent;
  display: flex;
  flex-wrap: nowrap;
  /*margin-bottom: 15px;*/
  margin-left: 10px;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
}
.bottomDesign .stripped,.bottomDesign .details, .bottomDesign .col-6 {
  display: inline-block !important;
}
.navbar-toggler {
  border-radius:0;
}
.lightHeader {
  font-weight: 300;
}
.team {
  display: inline-block;
}
.driversname {
  font-size: 13px;
}
.driversname, .drivername {
  text-transform: uppercase;
}
.team img {
  max-width: 25px;
}
.flag {
  padding: 0px;
  display: inline-block;}
.flag img {
  width: 20px;
  display: inline-block;
}
.heats-flag img {width:20px; display:inline-block;}
.grey.ml-auto li:nth-child(2) a{
  color:#a3a3a3;
}

.table {text-align: left;}
table thead tr th {
  border-top: none !important;
}

.intermediate h3::after, .champs h3::after, .positionsmain h3::after, .heatheaders h3:after {
  display: block;
  position: relative;
  margin-top: 20px;
  height: 11px;
  width: 100%;
  content: '';
  background-image: url('../images/bg/heat_border_1280x11.png');
}
.moreButton img {
  cursor: pointer;
}

.intermediate,
.champs,
.positionsmain {
  text-align: center;
}


/*NavBar, Sidebar, RightNav*/
.app-header.navbar .navbar-nav {
  background: #e2008c;
  height: 55px;
}

.app-header.navbar .navbar-nav.grey {
  background: #4e4e4e;
  height: 55px;
  right: 110px;
}

.app-header.navbar .nav-item {
  width: 60px;
}

.header-fixed .app-header {
  padding: 0 15px !important;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 1.75rem !important;
}

.d-md-down-none.show {
  display: inline-block;
}

.nav-link.dropdown-toggle {
  color: #fff !important;
}

.sidebar-flag img {
  height: 55px;
}
.venue-flag img {
  height: 20px;
  margin-right: 5px;
}
.venue {
  padding: 10px 0;
  /*text-align: center;*/
  font-size: larger;
  vertical-align: middle;
}
.rightnav {
  width: 20%;
  height: 1000px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

span.venue-title {padding-left:1rem; display:inline-block; line-height:100%; padding-top:10px;}


/*Heats*/
.heats {
  color: #ffffff;
}

.heats .row {
  padding-top: 20px;
}

.heats h3 {
  text-align: center;
  text-transform: uppercase;
}

.heats .team {
  display: inline-block;
  float: left;
  /*padding: 0 5px;*/
}

.heats .driversname {
  font-size: 14px;
  margin-top: 5%;
  font-weight:900;
  font-style:italic;
  /*margin-left: 5px;*/
}

.heats .team img {
  width: 40px;
}

.heats .flag {
  padding: 5px 1px;
  display: inline-block;
  float: left;
}

.heats .flag img {
  width: 20px;
  display: inline-block;
  float: left;
}

.heats .details {
  padding: 0px 5px;
}

.sup16.heats .details {
  padding: 10px 5px;
}

.heats .timetotal {
  font-size: 13px;
  /*padding: 6px 5px*/
;
  color: #60cb35;
  display: inline-block;
  float: left;
  margin-left: 3px;
}

.combo {
  display: flex;
}
.stripped {
  border: 1px solid black;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  /*background-image:url('../images/position-bg.png');*/
  /*padding: 2.25em 1.6875em;*/
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 3px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
  /*  -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;*/
}
.heatheaders {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

.carposition {
  display: flex;
  flex-wrap: wrap;
}

.carposition h1 {
  color: #ffffff;
  font-size: 400%;
  margin-top: -10px;
  margin-bottom: 15px;
}

.carposition .titles {
  font-size: 100%;
  color: green;
}

/*Generic to all tables*/
.small-car img {width:10%;}

/*Positions*/
.positionsmain {
  margin: 0 auto;
  padding: 26px 0px;
}

.positionsmain .table td {
  padding: 0;
}

.positionsmain thead th,
.positionsmain thead td {
  border-bottom: 0 !important;
  text-transform: uppercase;
}

.row.positions {
  background: url('../images/bg/bg_2.jpg');
}

.positionsmain .team,
.positionsmain .flag,
.positionsmain .flag img {
  float: none;
}

.positionsmain .table tr {
  border-bottom: 1px solid #3d3d3e;
}

.positionsmain .table thead tr,
.positionsmain .table tr:last-child {
  border-bottom: none;
}

.positionsmain .table th,
.positionsmain .table td {
  border-top: 0px !important;
}

.positionsmain .table thead th {
  border-bottom: 0px solid #eceeef !important;
}


/*Championships*/

.nopadleft {
  padding-left: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

.bottom {
  vertical-align: bottom;
}

.middle {
  vertical-align: middle;
}

.super {
  vertical-align: super;
}

.champs {
  margin: 0 auto;
  padding: 50px 15px;
}

.row.championship,
.row.champs {
  background: url('../images/bg/bg_4.jpg');
}

.champs .champs-table tr {
  border-bottom: 1px solid #3d3d3e;
}

.champs .champs-table tr:last-child {
  border-bottom: none;
}

.champ-position,
.champ .table td {
  vertical-align: middle;
}

.champioship-car img {
  width: 20%;
}

.champioship-car .flag {
  padding: 0px 5px;
}


/*Intermediate*/

.row.inter {
  background: url('../images/bg/bg_3.jpg');
}

.intermediate {
  max-width: 100%;
  width: 100%;
  padding: 50px 15px;
}

.intermediate .table td,
.intermediate .table th {
  border-top: none;
}




.bottomDesign:before {
  border-bottom: 0px solid #686868;
  content: "";
  position: fixed;
  transform: skew(-50deg);
  width: 20%;
  z-index: 10;
}
.bottomDesign:after {
  /*    background: url('../images/box-bg.png');
      background-repeat: round;
      border-bottom: 5px solid transparent;*/
  content: "";
  margin-top: 50px;
  /*    position: fixed;
      transform: skew(-20deg);
      width: 75%;*/
}


/*News*/
.row.news {
  padding-top: 20px;
  padding-bottom: 0px;
}
.row.news.setopvideo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row.newsmobile.setopvideo .swiper-container,  .row.newsmobile.sunday-evening .swiper-container {
  width: 98%;
}
.row.news.hidden-sm-down {
  padding-bottom: 20px;
}
.panelnews {
  border: 1px solid #f1f1f1;
  height: 100%;
}
.panel.news a:HOVER {
  background: #ff0066;
  color: #ffffff;
  text-decoration: none;
}
.panel.news a img, .panel.tweets a img {
  position: relative;
  transform: scale(1);
  transition: all 0.4s ease 0s;
  width: 100%;
}
.panel img.main-image {
  width: 100%;
}
.news span {
  display: block;
}
.news .icon {
  display: block;
  width: 20px;
  height: auto;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 10;
}
.cover {
  display: block;
  color: #000;
  cursor: pointer;
  background: #fff;
  height: 100%;
  transition: all 0.4s ease 0s;
}
.news .image {
  height: 50%;
  overflow: hidden;
}

.news .icon img, .tweets .icon img {
  width: 100%;
}
.wrapper-hold {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.wrapper .texthold {
  height: 100%;
  padding: 7% 7% 3% 7%;
  text-align: center;
  text-transform: uppercase;
}
/*.tweets .texthold {*/
/*height: 100%;*/
/*padding: 1% 0% 3% 15%;*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*}*/

.tweets .texthold {
  height: 100%;
  padding: 5px 10px 0 75px !important;
  text-align: left;
  text-transform: lowercase;
  font-weight: 600;
}
/*old b4 newlayout*/
/*.tweets .icon {*/
  /*display: block;*/
  /*width: 20px;*/
  /*height: auto;*/
  /*position: absolute;*/
  /*margin-top: 0px;*/
  /*margin-left:48px;*/
  /*z-index: 10;*/
/*}*/
/*.profile-image {*/
  /*display: block;*/
  /*width: 48px;*/
  /*height: auto;*/
  /*position: absolute;*/
  /*z-index: 8;*/
/*}*/

.tweets .icon {
  display: block;
  width: 20px;
  height: auto;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 10;
}

.profile-image {
  display: block;
  width: 48px;
  height: auto;
  position: absolute;
  top: 170px;
  z-index: 8;
}
div.texthold {
  padding: 20px 0 !important;
  text-align: center;
}
.texthold.no-image {
  display: block;
  height: auto;
  padding-top: 2%;
  padding-left: 50px;
  font-size: small;
  font-weight: normal;
  text-transform: none;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: left;
  overflow: unset;
}
.news.container {padding-bottom: 50px; padding-top: 20px;}
.news-list .col-lg-4 {margin-bottom: 10px;}
.newstitle {text-align: center;}
.newsitem.image {
  margin-bottom: 0px;
  margin-top: 50px;
}
.newsitem.image img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.newsitem.video {}
.newsitem.content {
  padding:20px;
  text-transform: capitalize;
  font-size:16px;
  font-weight:normal;
  background:#ffffff;
}
.newsmobile h3 {padding: 10px 0;}
/*News End*/

/*Schedules*/
.schedules .swiper-wrapper { padding: 1% 3% !important; text-align: center;}
.next-event .first {
  color: red;
  font-weight: 900;
  margin-right: 5px;
}
.schedules .time { color: green;}
.schedules .date { display: block; text-transform: capitalize;}
.next-event {margin-top: 5px; text-align: center;}

/*Tweets*/
.tweets { padding: 0 !important;}
.tweets:nth-child(2n) {margin-bottom: 5px;}
.tweets:first-child {margin-bottom: 5px; margin-top: 10px;}
.tweets:last-child {margin-bottom: 10px; margin-top: 5px;}
.tweets .panel { height: 100%;}


/*Prerace or Friday*/
.prerace.news {
  padding-bottom: 20px;
}
/** Sunday Evening*/

/* */
.table-hover tbody tr:hover {
  background-color: #383838 !important;
  opacity: 0.5;
}
.table-hover a:hover, .table-hover a:focus {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 359px){
  .flag {margin: 0 2px !important;}
  span.venue-title {
    font-size: smaller;
  }
}


@media only screen and (min-width: 320px) and (max-width: 480px){
  body {font-size: x-small !important;font-weight: 900 !important;}
  .heats .driversname {margin-top:3%;}
  .sup16.heats .driversname {float: left; margin-top:0; margin-left: 50px;}
  .negative-left {left: -2% !important;}

}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .hidden-md-up .img-fluid {
    height: 70%;
  }

}


@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
  .hidden-md-up .img-fluid {
    height: 80%;
    float: right;
    margin-right: 60px;
  }
}

@media only screen and (min-device-width : 414px) and (max-device-width : 767px) {
  .hidden-md-up .img-fluid {
    float: right;
    margin-right: 60px;
    height: 100%;
  }
}


@media only screen and (max-width: 767px){
  /*Swipers*/
  .swiper-slide h3 {
    padding-top: 16px;
    padding-bottom: 34px;
  }
  .swiper-mobile {
    margin-left: -15px;
    margin-right: -15px;}

  /*General*/
  .main .container-fluid {
    padding: 0px 15px !important;
  }
  .table th, .table td {
    padding: 0.35rem 0 !important;
    vertical-align: middle !important;
    border-top: 1px solid #cfd8dc;
  }

  /*NavBar, Sidebar, RightNav*/
  .d-md-down-none.show{
    display:inline-block !important;
  }
  /*NavBar, Sidebar, RightNav*/
  .app-header.navbar .navbar-nav {
    right: 50px;
  }

  /*Heats*/
  .heats .row /*.no-gutters*/ {padding-top: 5px;}
  .bottomDesign:before {
    background-image:url('../images/box-bg.png');
    border-bottom: 2px solid #686868;
    content: "";
    position: fixed;
    transform: skew(-50deg);
    width: 100%;
    z-index: 10;
  }

  /*Generic to all tables*/
  .flag {margin: 0 5px;}

  /*Positions*/
  .positionsmain .col-1, .intermediate .col-1, .champs .col-1 {
    width: 4.33333%;
    padding:0.75rem 0.1rem;
  }
  .positionsmain .table thead th{
    padding: 0 3px !important;
  }

  /*Championships*/
  .champs .table td {
    padding: 0.2rem 0 0 !important;
    vertical-align: middle !important;
    border-top: 0px solid #323333 !important;
  }
  .champs .table td:first-child {
    border-top: none !important;
  }
  .champs .table th {
    border-top: 0px solid #323333 !important;
  }
  .champs .table thead th {
    border-bottom: none;
  }
  .champs .tablehead th {
    border-top: none !important;
  }

  /*Intermediate*/
  .intermediate-table tr {
    border-bottom: 1px solid #3d3d3e;
  }
  .intermediate-table tr:last-child {
    border-bottom: none;
  }
  .intermediate .col-6 {width: 64%;}
  .intermediate .table thead th {
    border-bottom: 0px solid #eceeef !important;
    padding: 0 3px !important;
  }

  /*News*/
  .news-list .news {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  div.texthold {
    height: 30px;
    padding: 20px !important;
  }

  /*Schedules*/
  .schedules .date {
    display: inline-block;
    padding-left: 2px;
  }
  .next-event .date {
    margin-left: 5px;
    margin-top: 5px
  }

  .texthold.no-image {letter-spacing:0px;}

  .car_pic img {padding-top:10px; margin-left:auto; margin-right:auto;}

  /*Tweets*/
  .row.twitter {
    padding: 0px 0;
  }
  .tweets {
    padding: 5px !important;
  }
  .tweets:nth-child(3n) {
    margin-bottom: 1px;
  }
  .tweets:nth-child(2n) {
    margin-bottom: 1px;
  }
  .tweets:first-child {
    margin-top: 0;
    margin-bottom: 1px;
  }
  .tweets:last-child {
    margin-bottom: 1px;
    margin-top: 0;
  }
  .tweets .panel {
    background: white;
    height: 100%;
    margin-bottom: 10px;
    min-height: 48px;
  }
  .tweets .texthold {
    min-height: 70px;
  }

  h1.newstitle {
    font-size:1.5rem;
  }



}

/*@media only screen and (min-width: 320px) and (max-device-width : 480px) and (orientation : portrait){
    .app-header.navbar .navbar-brand {background-size: 80% auto !important; }
}

@media only screen and (min-width: 360px) and (max-device-width : 640px) and (orientation : portrait){
    .app-header.navbar .navbar-brand {background-size: 90% auto !important; }
}*/
/*
@media only screen and (min-width: 375px) and (max-device-width : 667px) and (orientation : portrait){
    .app-header.navbar .navbar-brand {background-size: 92% auto !important; }
}*/

@media only screen and (min-width: 768px){
  /*Swipers*/
  .swiper-slide {
    display: inline-block;
  }
  .swiper-desktop {
    margin-left: -15px;
    margin-right: -15px;
  }
  .swiper-wrapper {
    margin:0 auto;
  }
  .heats.swiper-slide  {
    width: 100% !important;
    max-width: 100% !important;
  }
  .entrants.swiper-button-prev, .entrants.swiper-button-next {
    top: 4%;
  }
  /*General*/
  body {
    font-size: small !important;
    font-weight: 900 !important;
    text-transform: uppercase;
  }
  .main .container-fluid {
    padding: 0 15px !important;
  }
  .special {
    flex-direction: column !important;
  }
  .main .container-fluid {
    padding: 0 15px !important;
  }

  .small-car img {
    width: 25%;
  }
  .team, .flag {
    padding: 0 5px;
  }
  .content-home {
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 30px;
    width: 100%;
  }
  .carposition .imgfluid {
    width: 100%}
  .content-home h6{
    color: #60cb35;
    font-size: 20px;
    letter-spacing: -1px;
  }

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/
  .heats {
    display: flex;
    flex-wrap: wrap;
  }
  .heats .row {
    background-image: url('../images/box_desktop.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: inherit;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .totaltime {
    margin-left: -10px;
  }
  .skewedbg {
    background-image: url(../images/box_desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: -140px;
    left: -15px;
    height: 90px;
    position: relative;
    z-index: -1;
  }
  .heats .row .col-12 {
    min-height: 113px;
  }
  .heats {
    color: #ffffff;
  }
  .heats h3 {
    text-align: center;
    text-transform: uppercase;
  }
  .combo {
    display: inline;
  }
  .stripped {
    border: 1px solid black;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 3px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
    background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
    background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,1) 3px);
  }
  .bottomDesign {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  /*Generic to all tables*/
  .table-responsive {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
  }
  .sm-down-cover {
    margin: 0 auto;
    max-width: 80%;
  }
  .bottomData {
    margin-left: 20px;
  }
  .bottomData {
    color: #fff;
  }
  /*Positions*/
  .positionsmain .table th, .positionsmain .table td {
    vertical-align: middle;
  }

  /*Championships*/
  .champs .sm-down-cover {
    margin: 0 auto;
    max-width: 60% !important;
  }
  .champs tr .middle, .champs tr .text-center {
    padding: 0.75rem 0.75rem 0 0.75rem !important;
  }
  .champs tr .nopadding {
    padding: 5px !important;
  }
  /*Intermediate*/
  .intermediate .table td, .intermediate .table th, .champs .table td, .champs .table th {
    border-top: none;
    border-bottom: none;
    vertical-align: middle;
  }
  .intermediate .table tr {
    border-bottom: 1px solid #3d3d3e;
  }
  .intermediate .table tr:last-child {
    border-bottom: none;
  }
  .intermediate-table tr .middle, .intermediate tr .text-center {
    padding: 0.75rem 0.75rem 0 0.75rem !important;
  }
  .intermediate-table tr td {
    padding: 5px !important;
  }
  /*News*/
  .newsitem.content {
    padding: 30px;
  }
  .wrapper .texthold.list {
    height: 40px !important;
  }
  .texthold.no-image {
    display: block;
    height: 100%;
    padding-top: 3%;
    font-size: small;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: left;
  }
  /*Schedules*/
  .schedules .swiper-wrapper {
    padding: 1% 3% !important;
  }
  /*Tweets*/
  .twitter {
    padding: 10px 0;
  }
  .tweets {
    padding: 0 15px !important;
  }
  .tweets .cover {
    padding: 5px;
  }
  .tweets.lg, .tweets.col-md-4 {
    padding: 0 3px !important;
  }
  .tweets .wrapper .texthold.list {
    height: 48px !important;
    font-size: smaller;
  }
  /*.tweets .icon {*/
  /*margin-top: 10px;*/
  /*margin-left:10px;*/
  /*}*/
  .tweets:nth-child(3n) {
    margin-bottom: 5px;
  }
  .tweets:first-child {
    margin-top: 0;
  }
  .tweets:last-child {
    margin-bottom: 5px;
    margin-top: 0;
  }
  .tweets .panel {
    height: 100%;
  }

  /** Sunday Evening*/
  .sunday-evening .swiper-container {
    width: 720px !important;
  }


}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  /*Swipers*/
  .swiper-button-prev, .swiper-button-next {
    top: 50%;
    width: 32px;
    height: 32px;
    -moz-background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
  }

  /*General*/

  /*NavBar, Sidebar, RightNav*/
  .grey.ml-auto li:first-child a{
    color: #000000;
  }
  .grey.ml-auto li:first-child {
    background: #ffffff;
    min-height: 55px;
    padding: 20px;
  }
  .navbar-nav.rxhome {
    right: 245px !important;
  }
  .navbar-nav.special {
    /*right: 110px !important;*/
    right: 125px !important;
  }
  .navbar-nav.rxhome .nav-item ,.navbar-nav.special .nav-item {
    width: 120px;
  }
  .special .nav-item.dropdown {
    padding: 20px 0;
  }
  /*Heats*/

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/
  .tweets:nth-child(1n), .tweets:nth-child(2n), .tweets:nth-child(3n) {
    padding: 0 2px !important;
  }
  .tweets:last-child {
    padding: 0 2px !important;
  }


}


@media only screen and (min-width: 768px) and (max-width: 1279px){
  /*Swipers*/

  /*General*/

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/
  .tweets:nth-child(1n), .tweets:nth-child(2n), .tweets:nth-child(3n) {
    padding: 0 2px !important;
  }
  .tweets:last-child {
    padding: 0 2px !important;
  }


}

@media only screen and (min-width: 992px){
  /*Swipers*/

  /*General*/

  /*NavBar, Sidebar, RightNav*/
  .nav.navbar-nav.d-md-down-none {
    display: none !important;
  }
  .ml-auto {
    margin-right: 170px;
  }
  .grey.ml-auto {
    flex-direction: column !important;
    margin:0 !important;
  }
  .grey.ml-auto li {
    height: 55px;
    min-width: 100% !important;
    width: 100% !important;
    padding: 20px !important;
    text-transform: uppercase;
  }
  .grey.ml-auto li:first-child {
    background: #ffffff;
  }

  .grey.ml-auto li:first-child a {
    color: #000000;
  }

  .grey.ml-auto li:nth-child(2) {
    background: #4e4e4e;
  }

  .grey.ml-auto li:nth-child(2) a {
    color: #a3a3a3;
  }
  .ml-auto li {
    min-width: 100% !important;
    width: 100% !important;
    /*padding: 50px !important;*/
    height: 50px;
    text-transform: uppercase;
  }
  .ml-auto .dropdown-toggle{
    padding: 20px 50px !important;
  }
  .header-fixed .app-header {
    padding: 0 30px !important;
  }

  .app-header.navbar .navbar-brand {
    margin-right: 50px !important;
  }

  /*Heats*/
  .carposition {
    flex-wrap: initial;
  }

  .extrapad {
    width: 900px !important;
    padding-bottom: 50px;
  }
  .carposition .img-fluid {
    height: 100%;
    width: 100%;
    max-width: 225px;
  }
  .carposition .titles {font-size: 100%;}


  /*Generic to all tables*/
  .small-car img {width:100px;}

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/


}



@media only screen and (min-width: 768px) and (max-width: 1179px){
  /*Swipers*/

  /*General*/
  .extrapad {
    width: 640px !important;
  }

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/


}

@media only screen and (min-width: 1200px){
  /*Swipers*/

  /*General*/
  .extrapad {
    width: 900px !important;
  }

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/


}


@media only screen and (min-width: 1280px){
  /*Swipers*/
  .swiper-slide.heats h3 {
    padding-top: 20px;
    max-width: 1280px;
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
  }

  /*General*/

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/
  .heats-flag {
    margin: 0 5px;
  }

  .carposition h1 {
    line-height: 1.3;
  }

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/


}


@media only screen and (min-width: 1366px){
  /*Swipers*/

  /*General*/
  .extrapad {
    width: 960px !important;
  }

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/


}


@media only screen and (min-width: 1440px){
  /*Swipers*/

  /*General*/
  .extrapad {
    width: 1024px !important;
  }

  /*NavBar, Sidebar, RightNav*/

  /*Heats*/

  /*Generic to all tables*/

  /*Positions*/

  /*Championships*/

  /*Intermediate*/

  /*News*/

  /*Schedules*/

  /*Tweets*/


}



