/*Venue Mobile Container*/
.venue-container {
  background: whitesmoke;
  flex-direction: row;
  padding: 0 15px !important;
  position: fixed !important;
  top: 55px;
  width: 100%;
  z-index: 1018;
}
/*Venue Mobile Container End*/
/*Tweet background image*/
.wrapper-hold {
  background-size: cover;
  min-height: 160px;
  background-attachment: inherit;
  background-position: left center;
}

.heats-team img {
    width:40px;
}
.qualifying .sm-down-cover {
    padding: 0 15px;
}
.qualifying h3 {
    padding-top: 0 !important;
}
.schedules .swiper-slide div{
	padding: 10px;
}

.row.schedules {
	/*margin-left: 48px;*/
	/*margin-right: 48px;*/
}
.schedules .swiper-slide.bordered {
    background-color: #fff;
    border-color: #252525;
    border-style: solid;
    color: inherit;
/*    display: table-cell;
    height: auto;*/
/*    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;*/
/*    min-width: 100%;
    width: 100%;*/
/*    padding: 5px 5px;
    font-size: medium;*/
}
.schedules .swiper-slide.bordered:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-top-color: #252525;
    border-width: 6px;
    margin-left: -6px;
}


/*.schedules .swiper-slide-active {*/
  /*background: red !important;*/
/*}*/
.schedules .swiper-slide {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: inline-block;*/
    /*background: #d7dcdc;*/
    /*!*padding: 10px;*!*/
    /*margin-right: 0 !important;*/
    /*border: 1px solid #c5bfbf;*/
    /*height: auto;*/
    /*!*max-width: 90px;*!*/
    /*!*width: 100px !important;*!*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  background: #d7dcdc;
  /* padding: 10px; */
  /*margin-right: 0 !important;*/
  height: auto;
  /* max-width: 90px; */
  /* width: 100px !important; */
  border-style: solid;
  border-color: #c1c6c6;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;

}
.schedules .swiper-wrapper {
    margin: 10px 0;
    padding: 0 50px !important;
    /*width: 88%;*/
}
.event-details {
    padding: 2px 10px 2px !important;
    font-size: x-small;
    position: relative;
    min-height: 61px;
}
.schedules .time {
    display: block;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}
.event.swiper-button-prev, .event.swiper-button-next{
    z-index: 12;
    top: 37%;
    position: absolute;
    background-color: #ededed;
    min-height: 77%;
    height:auto;
    padding: 8px 24px;
    color: #252525;
    /*background-image: none;*/
}

.event.swiper-button-prev {
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath d='M3 16l26 16v-7.2L14.4 16 29 7.2V0z' fill='%23252525'/%3e%3c/svg%3e");
}
.event.swiper-button-next {
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.9 32'%3e%3cpath d='M29 16L3 0v7.2L17.6 16 3 24.8V32z' fill='%23252525'/%3e%3c/svg%3e");
}
.mainslide .swiper-wrapper {
    margin-top:50px !important;
}
.empty {
  height: 600px;
  min-height: 100%;
}

/*Breaking News*/
#toast-container > div{
  background: rgba(226, 0, 140, 0.98);
  border-radius: 0 !important;
  margin: 0 !important;
  opacity: 0.96 !important;
  padding: 8px !important;
  width: 100% !important;
}
.toast-top-right {
  top: unset !important;
  right: 0 !important;
  left: 0;
  bottom: 0;
}
.toast-title {
  color: #ffffff;
  text-align: center;
}
.toast-message {
  text-align: center;
}
.toast-message a {
  color: #000000;
  text-decoration: none !important;
}
.toast-message span {
  text-transform: capitalize !important;
}
.toast-close-button {
  position: absolute !important;
  margin-top: 0;
  margin-right: 7px;
  opacity: 0.6 !important;
}
.close-button {
  border: none;
  border-radius: 20px;
  font-size: x-small;
  width: 20px;
  height: 20px;
  margin-top: -5px;
}
.toast-success .icon-success {
  background-image: none !important;
  display: none !important;
}


@media only screen and (max-width: 767px) {
  .header-fixed .app-body {
    margin-top: 100px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .schedules .swiper-wrapper {
        width: 80%;
    }
  /*.schedules .swiper-wrapper {*/
    /*margin: 10px 0;*/
    /*padding: 0 !important;*/
    /*width: 88%;*/
  /*}*/
  /*.event.swiper-button-prev, .event.swiper-button-next{*/
    /*z-index: 12;*/
    /*top: 35%;*/
    /*position: absolute;*/
    /*background-color: #ededed;*/
    /*min-height: 82px;*/
    /*padding: 8px 40px;*/
    /*color: #252525;*/
    /*!*background-image: none;*!*/
  /*}*/
}
@media only screen and (min-width: 768px) and (max-width: 1279px){
    .schedules .swiper-wrapper {
        width: 80%;
    }
}
@media only screen and (min-width: 1280px) {
  .schedules .swiper-wrapper {
    padding: 0 !important;
  }
}
