<swiper [config]="config" class="hidden-md-up swiper-mobile">
    <div class="heatc swiper-button-next"></div>
    <div class="heatc swiper-button-prev"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide heats"  *ngFor="let item of newItems | pairs">
            <h3><span class="lightHeader">Q {{ item[0] }} : </span>Race </h3>
            <div class="row" *ngFor="let v of item[1]; let i = index">
                <div class="bottomDesign">
                    <div class="col-1 stripped">
                        {{ v.Position }}
                    </div>
                    <div class="col-5 details">
                        <div class="driversname">{{  v.driver_name_short }}</div>
                        <div class="combo">
                            <span class="team"><img src="assets/images/manufacturers/{{ v.badge }}" class="" /></span>
                            <span class="flag"><img src="assets/images/flags/{{ v.country }}.png" class="" /></span>
                            <span class="timetotal">{{ v.newTime }}</span>

                        </div>
                    </div>
                    <div class="col-6 car_pic">
                        <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ v.car }}&maxwidth=158" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>

    </div><!--swiper-wrapper-end -->
</swiper>

<swiper [config]="config" class="hidden-sm-down swiper-desktop">
    <div class="swiper-wrapper">
        <div class="swiper-slide"  *ngFor="let item of newItems | pairs">
            <div class="container heatheaders">
                <h3><span class="lightHeader">Qualifying {{ item[0] }}: </span>Race </h3>
            </div><!-- heatheaders end-->
            <div class="container heats extrapad">
                <div class="row col-6 col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let v of item[1]; let i = index">
                    <div class="col-12">
                        <div class="carposition">
                            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ v.car }}&maxwidth=225" class="img-fluid" />
                            <div class="titles">
                                <h1>{{ v.Position }}</h1>
                                <span class="totaltime">
              <!--{{ v.totaltime | slice:0:2}}:{{ v.totaltime | slice:2:4}}:{{ v.totaltime | slice:4:6}}-->
							{{ v.newTime }}
            </span>
                            </div>
                        </div><!-- carposition end-->

                        <div class="bottomData">
                            <span class="heats-team"><img src="assets/images/manufacturers/{{ v.badge }}" class="" /></span>
                            <span class="heats-flag"><img src="assets/images/flags/{{ v.country }}.png" class="" /></span>
                            <span class="heats-driversname">{{  v.driver_name | explode:" ":0 | limitTo:1  }} {{  v.driver_name | explode:" ":1 }}</span>
                        </div><!-- bottomData end-->
                    </div>

                </div><!-- row no-gutters end-->
            </div><!-- heats end-->
        </div><!-- extrapad end-->



    </div>

    <div class="heatc swiper-button-next"></div>
    <div class="heatc swiper-button-prev"></div>
</swiper>
