<swiper [config]="config" class="row news hidden-sm-down" *ngIf="news">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

    <div class="swiper-wrapper">

    <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'news'">
    <div class="panel news">
      <a class="cover" (click)="showNewsItemDetail(newsitem)">
				<span class="wrapper">
				  <span class="wrapper-hold">
					<span class="icon">
						<img src="http://www.fiaworldrallycross.com/_img/icon_news.png"></span>
					<span class="image">
			            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ newsitem.image }}&maxwidth=450" />
					</span>
					<span class="texthold list">{{newsitem.title}}</span>
				  </span>
				</span>
      </a>
    </div>
  </div>


    <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'youtube'">
      <div class="panel news">
        <a class="cover" (click)="showNewsItemDetail(newsitem)">
                <span class="wrapper">
                  <span class="wrapper-hold">
                    <span class="icon">
                        <img src="http://www.fiaworldrallycross.com/_img/icon_video.png"></span>
                    <span class="image">
                        <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ newsitem.image }}&maxwidth=450" />
                    </span>
                    <span class="texthold list">{{newsitem.title}}</span>
                  </span>
          </span>
        </a>
      </div>
    </div>

  </div>
</swiper>


<swiper [config]="config" class="row newsmobile hidden-md-up" *ngIf="news">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
    <h3><span class="lightHeader">Trending Media</span></h3>
    <div class="swiper-wrapper">

    <div class="news swiper-slide" *ngFor="let newsitem of news">
      <div class="panel news">
        <a class="cover" (click)="showNewsItemDetail(newsitem)">
          <span class="wrapper">
          <span class="wrapper-hold">
                    <span class="icon" *ngIf="newsitem.type=='news'">
                      <img src="http://www.fiaworldrallycross.com/_img/icon_news.png">
                    </span>
                    <span class="icon" *ngIf="newsitem.type=='youtube'">
                    <img src="http://www.fiaworldrallycross.com/_img/icon_video.png">
                    </span>
                    <span class="image">
                        <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ newsitem.image }}&maxwidth=450" />
                    </span>
                    <div class="texthold ">{{newsitem.title}}</div>
                  </span>
                </span>
        </a>
      </div>
    </div>

  </div><!--swiper-wrapper-end -->
</swiper>
