<div class="news container">

  <div class="newsitem video embed-responsive embed-responsive-16by9">
    <iframe width="embed-responsive-item" [src]="url" allowfullscreen></iframe>
    <!--<iframe width="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(baseUrl+new.videourl)"></iframe>-->
  </div>

</div>
