<router-outlet></router-outlet>

<!--<app-schedule></app-schedule>-->
<!--<app-setopvideos></app-setopvideos>-->
<!--<app-tweets></app-tweets>-->
<!--<app-heats ></app-heats>-->
<!--<app-tweets></app-tweets>-->
<!--<app-positions></app-positions>-->
<!--<app-supercar-championships></app-supercar-championships>-->
<!--<app-intermediate></app-intermediate>-->
<!--<app-sevideos></app-sevideos>-->
<!--<app-teams></app-teams>-->

