<swiper [config]="config" class="row schedules" #usefulSwiper>
    <div class="event swiper-button-next">
    </div>
    <div class="event swiper-button-prev"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let schedule of schedules; let i = index" [ngClass]="{'bordered': index == i }">
            <div class="event-details">
            <span>{{ schedule.text }}</span>
            <span class="time">{{ schedule.theTime | slice:0:5 }}</span>
            </div>
        </div>
    </div>
</swiper>
