<div class="row inter" *ngIf="items">

    <div class="champs table-responsive"  *ngFor="let item of items | pairs">
        <h3><span class="lightHeader">{{ item[0] }} </span></h3>
        <div class="sm-down-cover">
            <table class="table">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
                </thead>
                <tbody  class="champs-table">
                <!--<tr *ngFor="let v of item[1]" [@animate]="'fadeInDown'">-->
                <tr *ngFor="let v of item[1]">
                    <td>
                        <span class="drivername">{{ v.theTime | slice:0:5 }}</span>
                    </td>
                    <td>{{ v.text }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
