<div class="row championship hidden-sm-down" *ngIf="items">
    <div class="champs table-responsive">
    <h3><span class="lightHeader">Championship points </span></h3>
    <div class="sm-down-cover">
    <table class="table">
      <thead>
        <tr>
          <th>POS</th>
          <th></th>
          <th class="text-center">PTS</th>
        </tr>
      </thead>
      <tbody  class="champs-table" *ngIf="items">
        <!--<tr *ngFor="let data of items | slice:0:show; let i = index" [@animate]="'fadeInDown'">-->
        <tr *ngFor="let data of items | slice:0:show; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="nopadding">
            <span class="small-car"><img src="{{ carsUrls + data.car_img + carSmallSize }}" /></span>
            <!--<span class="team hidden-sm-down"><img src="{{ manufacturersUrl + data.badge }}" /></span>-->
            <span class="flag"><img src="{{ flagsUrl + data.country +'.png' }}" /></span>
            <span class="drivername">{{  data.driver_name }}</span>
            </td>
          <td class="text-center" style="vertical-align: top;">{{ data.Champ_Point }}</td>
            <div *ngIf="i == 9 && show==10" #loadMore></div>
        </tr>
      </tbody>
    </table>
    </div>
        <span *ngIf="hide" class="moreButton"  (click)="showMore()"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>
    </div>
</div>

<div class="row champs hidden-md-up" *ngIf="items">
    <div class="champs">
        <h3><span class="lightHeader">Championship points </span></h3>

        <table class="table">
      <thead class="tablehead">
        <tr>
          <th class="col-1">POS</th>
          <th class="col-10"></th>
          <th class="col-1">PTS</th>
        </tr>
      </thead>
      <tbody  class="champs-table" *ngIf="items">
        <tr *ngFor="let data of items | slice:0:show; let i = index">
          <th class="col-1 middle" scope="row">{{ i + 1 }}</th>
          <td class="col-10 nopadding">
            <span class="champioship-car"><img src="{{ carsUrls + data.car_img + carSmallSize }}" /></span>
            <!--<span class="team bottom hidden-lg-down"><img src="{{ manufacturersUrl + data.badge }}"  /></span>-->
            <span class="flag middle"><img src="{{ flagsUrl + data.country +'.png' }}" /></span>
            <span class="middle drivername">{{  data.driver_name | explode:" ":0 | limitTo:1 }} {{  data.driver_name | explode:" ":1 }}</span>
            <!--<span class="middle drivername">{{  data.driver1_forename | limitTo:1 }} {{  data.driver1_surname }}</span>-->
            </td>
          <td class="col-1 text-center">{{ data.Champ_Point }}</td>
            <div *ngIf="i == 9 && show==10" #loadMore></div>
        </tr>
      </tbody>
    </table>
        <span *ngIf="hide" class="moreButton"  (click)="showMore()"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>
    </div>
</div>
