<swiper [config]="config" class="hidden-md-up swiper-mobile qualifying">
  <div class="swiper-wrapper">
    <div class="swiper-slide"  *ngFor="let item of items | pairs | orderBy: 'item[0]'">
      <div class="positionsmain  table-responsive">
        <h3><span class="lightHeader">Q </span>{{ item[0] | explode:"":1}}</h3>
        <div class="sm-down-cover">

          <table class="table">
            <thead>
            <tr>
              <th>Pos</th>
              <th class=""></th>
              <th class="text-center">Time</th>
              <th class="text-center">Race</th>
              <th class="text-center">PTS</th>
            </tr>
            </thead>
            <tbody  class="position-table">
            <tr *ngFor="let data of item[1] | slice:0:show; let i = index">
              <th scope="row">
                {{ data.Position }}
              </th>
              <td class="col-9">
                <span class="team"><img src="{{ manufacturersUrl + data.badge }}" /></span>
                <span class="flag"><img src="{{ flagsUrl + data.country +'.png' }}" /></span>
                <span>{{  data.driver_name | explode:" ":0 | limitTo:1  }}{{  data.driver_name | explode:" ":1 }}</span>
              </td>
              <td class="col-1 text-center">{{ data.newTime }}</td>
              <td class="col-1 text-center">{{ data.Race_Number }}</td>
              <td class="col-1 text-center">{{ data.Points }}</td>
              <div *ngIf="i == 9 && show==10" #loadMore></div>
            </tr>
            </tbody>
          </table>

        </div>
        <span *ngIf="show < item[1].length" class="moreButton"  (click)="show = item[1].length"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>
      </div>
    </div>
  </div>

  <div class="heatc swiper-button-next"></div>
  <div class="heatc swiper-button-prev"></div>
</swiper>



<swiper [config]="config" class="hidden-sm-down swiper-desktop">
  <div class="swiper-wrapper">
    <div class="swiper-slide"  *ngFor="let item of items | pairs">
    <div class="positionsmain  table-responsive">
    <h3><span class="lightHeader">Qualifying </span> {{ item[0] | explode:"":1}}</h3>
    <div class="sm-down-cover">

      <table class="table">
        <thead>
          <tr>
            <th>Pos</th>
            <th class=""></th>
            <th class="text-center">Time</th>
            <th class="text-center">Race</th>
            <th class="text-center">PTS</th>
          </tr>
        </thead>
        <tbody  class="position-table">
          <tr *ngFor="let data of item[1] | slice:0:show; let i = index">
            <th scope="row">
                {{ data.Position }}
            </th>
            <td class="col-9">

              <span class="small-car">
              <img src="{{ carsUrls + data.car + carSmallSize }}" class="img-fluid" />
              </span>
              <span class="team"><img src="{{ manufacturersUrl + data.badge }}" /></span>
              <span class="flag"><img src="{{ flagsUrl + data.country +'.png' }}" /></span>
              <span>{{  data.driver_name }}</span>
            </td>
            <td class="col-1 text-center">{{ data.newTime }}</td>
            <td class="col-1 text-center">{{ data.Race_Number }}</td>
            <td class="col-1 text-center">{{ data.Points }}</td>
          <div *ngIf="i == 9 && show==10" #loadMore></div>
          </tr>
        </tbody>
      </table>

      </div>
      <span *ngIf="show < item[1].length" class="moreButton"  (click)="show = item[1].length"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>
      </div>
      </div>

    </div>

  <div class="heatc swiper-button-next"></div>
  <div class="heatc swiper-button-prev"></div>
</swiper>
