<!--<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"-->
             <!--[speed]="200" [showSpinner]="true" [direction]="'rightToLeftIncreased'"-->
             <!--[color]="'red'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'"-->
<!--&gt;</ng-progress>-->
<swiper [config]="config" class="hidden-md-up swiper-mobile" #usefulSwiperMobile>
    <div class="heatc swiper-button-next"></div>
    <div class="heatc swiper-button-prev"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide heats"  *ngFor="let item of items | pairs">
            <h3 *ngIf="item[0] == 'FI-0'"><span class="lightHeader"> Final </span></h3>
            <h3 *ngIf="item[0] == 'SF1-0' || item[0] == 'SF2-0'"><span class="lightHeader">SEMI FINAL </span> {{ item[0] | explode:"":2 }}</h3>
            <h3 *ngIf="item[0] != 'FI-0' && item[0] != 'SF1-0' && item[0] != 'SF2-0'"><span class="lightHeader">Q {{ item[0].replace('H','') | explode:"-":0 | limitTo:1 }} : </span>Race {{ item[0] | explode:"-":1 }}</h3>
            <div class="row" *ngFor="let v of item[1] | orderBy: 'Position'; let i = index">
                <div class="bottomDesign">

                    <div class="col-1 stripped">
                        {{ i + 1 }}
                    </div>
                    <!--<div class="col-1 stripped" *ngIf="v.Position.indexOf('0') == 0">-->
                        <!--{{ v.Position.replace('0','') }}-->
                    <!--</div>-->
                    <!--<div class="col-1 stripped" *ngIf="v.Position.indexOf('0') != 0">-->
                        <!--{{ v.Position }}-->
                    <!--</div>-->
                    <div class="col-5 details">
                        <div class="driversname">{{  v.driver_name_short }}</div>
                        <div class="combo">
                            <span class="team"><img src="{{ manufacturersUrl + v.badge }}" class="" /></span>
                            <span class="flag"><img src="{{ flagsUrl + v.country +'.png' }}" class="" /></span>
                            <span class="timetotal">{{ v.newTime }}</span>

                        </div>
                    </div>
                    <div class="col-6 car_pic">
                        <img src="{{ carsUrls + v.car + carSmallSize }}" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>

    </div><!--swiper-wrapper-end -->
</swiper>

<swiper [config]="config" class="hidden-sm-down swiper-desktop" #usefulSwiper>
    <div class="swiper-wrapper">
        <div class="swiper-slide"  *ngFor="let item of items | pairs">
            <div class="container heatheaders">
                <h3 *ngIf="item[0] == 'FI-0'"><span class="lightHeader"> Final </span></h3>
                <h3 *ngIf="item[0] == 'SF1-0' || item[0] == 'SF2-0'"><span class="lightHeader">SEMI FINAL </span> {{ item[0] | explode:"":2 }}</h3>
                <h3 *ngIf="item[0] != 'FI-0' && item[0] != 'SF1-0' && item[0] != 'SF2-0'"><span class="lightHeader">Qualifying {{ item[0].replace('H','') | explode:"-":0 | limitTo:1 }} : </span>Race {{ item[0] | explode:"-":1 }}</h3>
            </div><!-- heatheaders end-->
            <div class="container heats extrapad">
                <div class="row col-6 col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let v of item[1] | orderBy: 'Position'; let i = index">
                    <div class="col-12">
                        <div class="carposition">
                            <img src="{{ carsUrls + v.car + carLargeSize }}" class="img-fluid" />
                            <div class="titles">
                                <!--<h1 *ngIf="v.Position.indexOf('0') == 0">{{ v.Position.replace('0','') }}</h1>-->
                                <!--<h1 *ngIf="v.Position.indexOf('0') != 0">{{ v.Position }}</h1>-->
                                <h1>{{ i + 1 }}</h1>
                                <span class="totaltime">
              <!--{{ v.totaltime | slice:0:2}}:{{ v.totaltime | slice:2:4}}:{{ v.totaltime | slice:4:6}}-->
							{{ v.newTime }}
            </span>
                            </div>
                        </div><!-- carposition end-->

                        <div class="bottomData">
                            <span class="heats-team"><img src="{{ manufacturersUrl + v.badge }}" class="" /></span>
                            <span class="heats-flag"><img src="{{ flagsUrl + v.country +'.png' }}" class="" /></span>
                            <span class="heats-driversname">{{  v.driver_name.replace('"','') | explode:" ":0 | limitTo:1  }} {{  v.driver_name.replace('"','') | explode:" ":1 }}</span>
                        </div><!-- bottomData end-->
                    </div>

                </div><!-- row no-gutters end-->
            </div><!-- heats end-->
        </div><!-- extrapad end-->



    </div>

    <div class="heatc swiper-button-next"></div>
    <div class="heatc swiper-button-prev"></div>
</swiper>
